body {
	background-color: #B2E9FD;
	background: url(https://images-na.ssl-images-amazon.com/images/I/61T8YzXzPlL._AC_SY355_.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header h2 {
	color: turquoise;
}

.header p {
	color: gold;
}

.results {
	margin-top: 20px;
}

#title {
	text-align: center;
}

#date {
	text-align: center;
}

#movie-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
}